// Colors

$color-canvas-primary: #000000;
$color-canvas-primary-lt: #16181c;
$color-canvas-secondary: #eff3f4;
$color-canvas-highlight: #1d9bf0;

$color-text-primary: #fff;
$color-text-secondary: #71767b;
$color-text-link: #1d9bf0;

// Sizes

$bottom-bar-height: 3.5rem;
