// Colors

$color-canvas-primary: #000000;
$color-canvas-primary-lt: #16181c;
$color-canvas-secondary: #eff3f4;
$color-canvas-highlight: #1d9bf0;

$color-canvas-transparent: rgba(0, 0, 0, 0);

$color-text-primary: #e7e9ea;
$color-text-secondary: #71767b;
$color-text-link: #1d9bf0;
$color-text-green: #00ba7c;
$color-text-red: #f91880;

$color-border-primary: #2f3336;

$color-hover-primary: rgba(231, 233, 234, 0.1);
$color-hover-highlight: rgba(29, 155, 240, 0.1);
$color-hover-green: rgba(0, 186, 124, 0.1);
$color-hover-red: rgba(249, 24, 128, 0.1);

// Sizes

$bottom-bar-height: 3.5rem;
