* {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  padding: 0;
  border: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

body {
  background-color: $color-canvas-primary;
}

html,
body {
  height: 100%;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
}

.container {
  display: flex;
  position: relative;
}

main {
  min-height: 100vh;
  flex-grow: 1;
  background-color: $color-canvas-primary;

  .content {
    width: 990px;

    .content-container {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: 1095px) {
  main {
    .content {
      width: 920px;
    }
  }
}

@include sm {
  main {
    .content {
      width: 600px;
    }
  }
}

@include lt-sm {
  main {
    .content {
      width: 100%;
    }
  }
}

.nav-item {
  display: flex;
}

.nav-item > div {
  display: flex;
  padding: 12px;
  align-items: center;
  background-color: $color-canvas-transparent;
  transition-duration: 0.2s;
}

.nav-item:hover > div {
  background-color: $color-hover-primary;
  border-radius: 9999px;
}

.nav-item > div.logo {
  margin-bottom: 4px;
}

.nav-item:hover > div.logo {
  background-color: $color-hover-highlight;
}

.nav-item {
  span {
    margin-right: 16px;
    margin-left: 20px;
  }
}

.dropdown {
  cursor: pointer;
}

.user-image-container {
  padding-top: 4px;
  margin-right: 12px;
  img {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
  }
}
