.new-tweet-btn.disable {
  a {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.new-tweet-btn {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 36px;
    pointer-events: auto;
    outline-style: none;
    border-radius: 9999px;
    border-color: rgb(83, 100, 113);
    font-weight: bold;
    transition-duration: 0.2s;
    user-select: none;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    cursor: pointer;
    background-color: rgb(29, 155, 240);
  }
}

.new-tweet-btn.icon {
  a {
    padding: 0;
    width: 56px;
    height: 56px;
    min-width: 52px;
    min-height: 52px;
  }
}

.new-tweet-btn.nav {
  a {
    min-height: 52px;
  }
}

.float-action-btn {
  position: relative;
  bottom: 20px;
  right: 20px;
  align-self: flex-end;
}

.float-action-btn a {
  box-shadow: rgb(217 217 217 / 20%) 0px 0px 5px,
    rgb(217 217 217 / 25%) 0px 1px 4px 1px;
}

.tweet-button {
  display: flex;
  align-items: center;

  svg {
    color: $color-text-secondary;
    transition-duration: 0.2s;
  }

  span {
    padding: 0 4px;
    color: $color-text-secondary;
    transition-duration: 0.2s;
  }

  @include xxs {
    span {
      padding: 0 2px;
    }
  }
}

.tweet-button > :first-child {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 9999px;
}

.tweet-button:hover > :first-child {
  background-color: $color-hover-primary;
}
