.new-tweet-btn {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        pointer-events: auto;
        outline-style: none;
        border-radius: 9999px;
        border-color: rgb(83, 100, 113);
        transition-property: background-color, box-shadow;
        transition-duration: 0.2s;
        user-select: none;
        box-shadow: rgb(217 217 217 / 20%) 0px 0px 5px, rgb(217 217 217 / 25%) 0px 1px 4px 1px;
        cursor: pointer;
        background-color: rgb(29, 155, 240);
    }
}


.new-tweet-btn.icon {
    a {
        padding: 0;
        width: 56px;
        height: 56px;
        min-width: 52px;
        min-height: 52px;
    }
}

.float-action-btn{
    position: relative;
        bottom: 20px;
        right: 20px;
        align-self: flex-end;
}