.modal {
  position: fixed;
  z-index: 9999;
  width: 600px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-canvas-primary;
}

.modal-fade {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: #f0f8ff78;
}

@include lt-sm {
  .modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: unset;
  }
}
